@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --lapis-color: #05668d;
  --text-color: #28262c;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  font-size: 2rem;
  padding: 8px 16px;
  font-weight: 700;
  color: var(--text-color);
}
